<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organisation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organisation.description %>
</p>

<p>
  <strong>Created by:</strong>
  <%= User.find(@organisation.created_by).name %>
</p>

<p>
  <strong>Users by:</strong>
  <ul>
    <% @users.each do |user| %>
    <li><%= user.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Num boards:</strong>
  <ul>
    <%= @organisation.boards.count %>
  </ul>
</p>

<p>
  <strong>Payment:</strong>
  <ul>
    <li>Monthly: <%= number_to_currency(@fees[:monthly]) %> </li>
    <li>Annually: <%= number_to_currency(@fees[:yearly]) %> </li>
  </ul>
</p>


<%= link_to 'Edit', edit_organisation_path(@organisation) %> |
<%= link_to 'Back', organisations_path %>
