<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organisation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organisation.description %>
</p>

<p>
  <strong>Created by:</strong>
  <%= User.find(@organisation.created_by).name %>
</p>

<p>
  <strong>Users by:</strong>
  <ul>
    <% @users.each do |user| %>
    <li><%= user.name %></li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_organisation_path(@organisation) %> |
<%= link_to 'Back', organisations_path %>
