<% if current_user.organisations.count > 0%>    
    <h6>Scroll to the right to see more boards</h6>
    <div class="deck">
        <%= render partial: 'boards/board_home', collection: @boards %>
    </div>
<% else %>
    <h3>Subscription plan</h3>
    
    <% @organisation = Organisation.new %>
    <%= javascript_pack_tag("organisation_type") %>

    <%= form_for(@organisation, url: join_organisations_url(organisation_id: @organisation.id)) do |f| %>

        <% if @organisation.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(@organisation.errors.count, "error") %> prohibited this from being saved:</h2>

            <ul>
                <% @organisation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
            </div>
        <% end %>

        <%= content_tag :div, "", id: 'organisation-type-component', data: Organisation.all.to_json %>
        
        <div class="actions">
            <%= f.submit "Sign up" %>
        </div>
    <% end %>

<% end %>    
