<div class="">
    <div class="card border-dark" >
        <div class="card-header">
            <h5 class="card-title">
            <%= link_to board_home.name, board_home %>
            </h5>
        </div>

        <% if board_home.cards.count > 0 %>
            <ul class="list-group list-group-flush">
                <% board_home.cards.order(created_at: :desc).each do |card| %>
                    <li class="list-group-item" style="background-color:<%= card.color %>">
                        <%= link_to(card) do %>
                            <span>
                                <%= card.title %>
                                <%= card.tasks.where(completed: true).count%>/<%= card.tasks.count%> tasks <i class="fas fa-check" %></i>
                            </span>
                            <%= link_to '', card_path(card), method: :delete, class:"fas fa-trash-alt right" %>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        <% else %>
            <div class="card-body">
                <p class="card-text">No cards yet.</p>
            </div>
        <% end %>

        <div class="card-footer text-muted">
            <p class="card-text">Active: <%= board_home.active %></p>
            <%= link_to(new_card_url board_id: board_home.id) do %>
                <p class="">Add card  <i class="fa fa-plus" aria-hidden="true"></i></p>
            <% end %>

            <%= link_to(activate_board_path(board_home), method: :post) do %>
                <p class="">Toggle board activation <i class="fa fa-power-off" aria-hidden="true"></i></p>
            <% end %>


            <% if false %>
            <small class="text-muted">Last updated at <%= board_home.updated_at %></small>
            <% end %>
        </div>    
    </div>
</div>    
