<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @board.active %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @board.organisation.name %>
</p>


<div class="deck">
    <%= render partial: 'boards/board_home', object: @board %>
</div>

<br>

<div>
  <p>
    <strong>Users assigned:</strong>
  </p>

  <% if @board.users.empty? %>
    <p>No users assigned yet.</p>
  <% else %>
    <ul class="list-group">
      <% @board.board_users.each do |board_user| %>
        <li class="list-group-item">
          <%= board_user.user.name %>
          <%= link_to '', board_user_path(board_user), method: :delete, class:"fas fa-trash-alt right" %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<br>

<div>
  <p>
    <strong>Assign user to this board:</strong>
  </p>
  <%= render :partial => "board_users/form", locals: {board_user: BoardUser.new, board: @board}  %>
</div>


<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
