<!DOCTYPE html>
<html>
  <head>
    <title>Data Requests</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

          </ul>

          <p class="navbar-text float-right">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.name %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
          </p>
        </div>
      </div>
    </nav> 

    <% if false %>
    <div class="sidenav">
      <div id='defaultnav'>
        <ul>
          <li><%= link_to 'Home', todo_index_path %></li>
          <li><%= link_to 'New Request', new_data_request_path %></li>
          <li><%= link_to 'All Requests', data_requests_path %></li>
        </ul>
      </div>

      <div id='defaultNav'>
          <ul>
            <% if session[:user_type] == 'Admin' %>
            <li><%= link_to 'Users', users_path %></li>
            <% end %>
            <li><%= link_to 'Assignations', assignations_path %></li>  
          </ul>
      </div>
      
      <% if user_signed_in? %>
      <div id='loggedInNav'>
          <ul>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %>         
          </ul>
      </div>
      <% else %>
      <div id='loggedInNav'>
          <%= link_to 'Login',  new_user_session_path, method: :get %>
      </div>
      <% end %>
    </div>   

    <% end %>

    <div id="main">
      <% if notice %>
        <p class="alert alert-success" id='notice'><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger" id='alert'><%= alert %></p>
      <% end %>
      <div class='container'><%= yield %></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>
